body {
    text-align: center;
    height: 100vh;
    width: 100vw;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#projeto {
    display: flex;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 400px;
}
img {
    width: 100px;
}